@import "./base.css";

/* variables */
:root {
    --nav-sidebar-width: 120px;
    --character-list-width: 120px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body,
#app {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input.disabled {
    color: var(--vt-c-text-dark-2);
    pointer-events: none;
}

.page-container {
    padding: 20px;
}